.products-toplink,
.products-top span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #bbc2d0;
  padding: 0px 3.5px;
}

.products-top {
  display: flex;
  align-items: center;
}
.productspage-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #00c48c;
}

.productspage {
  background: #f3f5f8;
  border-radius: 6px;
  margin: 10px 50px 10px 20px;
  padding: 20px 26px 20px 26px;
}
.search-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #3d639d;
  padding: 30px 0;
}
.search-input {
  background: #ffffff;
  border-radius: 26px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: -0.3px;

  outline: none;
  color: #bbc2d0;
  width: 100%;
  padding: 14px 15px;
  border: none;
  padding-right: 87px;
}

.search-form {
  position: relative;
}
.search-btn {
  background: #00c48c;
  border-radius: 0px 26px 26px 0px;
  position: absolute;
  top: 50%;
  left: 96.3%;
  transform: translate(-50%, -50%);
  padding: 8.9px 30px;
}

.products-count {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #262728;
  padding: 30px 0;
}

.products-name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.3px;
  padding: 8px 0;

  color: #262728;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}
.products-name:hover {
  color: #3d639d;
}
.products-price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  padding: 3px 0;
  letter-spacing: -0.3px;

  color: #262728;
}
.products-money {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #ffffff;
  background: #ff647c;
  border-radius: 2px;
  text-align: center;
  padding: 4px 7px;
}
.products-card span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  letter-spacing: -0.3px;
  color: #cfd3db;
  padding-left: 10px;
}
.products-thumb {
  background: #f7f7f7;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 52px;
}
.products-img {
  width: 105px;
  height: 142px;
  object-fit: contain;
}
.products-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.products-item {
  width: 18%;
  background-color: white;
  margin: 13px 10px;
  padding: 12px;
  box-shadow: 0px 10px 30px rgba(138, 149, 158, 0.1);
  border-radius: 10p;
}

.products-card {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.products-thumb{
  position: relative;
}
.products-box{
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 30px;
  background-color: #A2AEDB;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-skidka{
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 30px;
  background-color: #FFBD95;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-item:nth-child(even) .products-box, .products-item:nth-child(even) .products-skidka{
  display: none;
} 
.products-item:nth-child(odd) .products-refresh{
  display: none;
}
.products-item:nth-child(even) .products-refresh{
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 30px;
  background-color: #F39DBD;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}















.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 15px 0;
}
 .page-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 10px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
 .page-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
 .page-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
 .page-link.selected {
  color: white;
  background-color: #00C48C;
}
 .page-item .arrow::before {
  position: relative;
    content: "";
   display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
 .page-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
 .page-item .arrow.right {
  transform: rotate(45deg);
}
 .page-item.disabled {
  pointer-events: none;
}
 .page-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
 .page-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}
